 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */

* { box-sizing: border-box; margin: 0; padding: 0; }
a { text-decoration: none; }
button { border: none; }
button, i.fa-solid { cursor: pointer; }
img { max-width: 100%; }
input { background: none; border: none; }
select { border: none; }
textarea { border: none; }

/* Fonts & Text */

body { font-family: "Montserrat"; }
textarea { font-family: monospace; font-size: 0.6rem; }

/* COLORS */

body     { background: #101010; color: #DDD; }
textarea { background: #101010; color: #DDD; }

/*//////////*/

html { min-height: 100%; height: 100%; --gap: 10px; }
body { min-height: 100%; height: 100%; }
#App { min-height: 100%; height: 100%; }

#Patterns[data-viewmode*="grid"] {
  display: grid; align-content: start; overflow-y: auto;
  grid-template-columns: repeat( auto-fit, minmax(var(--minmax), 1fr) );
  gap: var(--gap); padding: var(--gap);
}
#Patterns[data-viewmode="grid"]     { --minmax:  50px; }
#Patterns[data-viewmode="grid-100"] { --minmax: 100px; }
#Patterns[data-viewmode="grid-150"] { --minmax: 150px; }
#Patterns[data-viewmode="grid-200"] { --minmax: 200px; }
#Patterns[data-viewmode="grid-300"] { --minmax: 300px; }
#Patterns .Pattern          { aspect-ratio: 1; cursor: pointer; }
#Patterns .Pattern.selected { border-radius: 100%; }

#App      { display: flex; }
#Preview  { display: flex; flex-direction: column; }
#Code     { display: flex; align-items: stretch; gap: var(--gap); padding: var(--gap); }
#Code > * { flex-grow: 1; }
textarea  { padding: var(--gap); }
#Options  { padding: var(--gap); }

@media only screen and (min-width: 0px) {
  #App      { flex-direction: column; align-items: stretch; justify-content: stretch; }
  #Options  { order: 3; flex-basis: 100px; flex-grow: 1;  }
  #Patterns { order: 2; flex-basis:   20%; flex-grow: 1; max-height: 30%; }
  #Preview  { order: 1; flex-basis:   50%; flex-grow: 0; flex-shrink: 0; }

  #Patterns { --gap: 10px; padding: 0 var(--gap); }
  #Preview  { justify-content: flex-start; }
}

@media only screen and (min-width: 1280px) {
  #App      { flex-direction: row; }
  #Options  { order: 2; flex-basis: 100px; flex-grow: 1; }
  #Patterns { order: 1; flex-basis:   20%; flex-grow: 1; max-height: 100%; }
  #Preview  { order: 3; flex-basis:   50%; flex-grow: 0; }

  #Patterns { --gap: 10px; padding: var(--gap) 0; }
  #Preview  { justify-content: flex-end; align-items: center; }
  #Code     { width: 80%; }
}

#App > *              { box-shadow: 0 0 20px #0009; }
#App > *:nth-child(1) { z-index: 3; }
#App > *:nth-child(2) { z-index: 2; }
#App > *:nth-child(3) { z-index: 1; }