 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */

* { box-sizing: border-box; margin: 0; padding: 0; }
a { text-decoration: none; }
button { border: none; }
button, i.fa-solid { cursor: pointer; }
img { max-width: 100%; }
input { background: none; border: none; }
select { border: none; }

/* Fonts & Text */

body { font-family: "Montserrat"; }

/* COLORS */

body     { background: #202020; color: #DDD; }
textarea { background: #202020; color: #DDD; }

/*//////////*/

html { min-height: 100%; height: 100%; --gap: 10px; }
body { min-height: 100%; height: 100%; }
#App { min-height: 100%; }

#App      { display: flex; flex-direction: column; align-items: center; justify-content: center; }
#Options  { order: 1; flex-basis: 100px; flex-grow: 0; width: 100%; }
#Patterns { order: 2; flex-basis: 100px; flex-grow: 0; width: 100%; }
#Preview  { order: 3; flex-basis: 100px; flex-grow: 1; width: 100%; }
#Code     { order: 4; flex-basis: 100px; flex-grow: 0; width: 100%; }

#Patterns[data-viewmode*="grid"] { 
  display: grid; 
  grid-template-columns: repeat( auto-fit, minmax(var(--minmax), 1fr) );
}
#Patterns[data-viewmode="grid-100"] { --minmax: 100px; }
#Patterns[data-viewmode="grid-150"] { --minmax: 150px; }
#Patterns[data-viewmode="grid-200"] { --minmax: 200px; }
#Patterns[data-viewmode="grid-300"] { --minmax: 300px; }

#Code     { display: flex; align-items: stretch; gap: var(--gap); padding: var(--gap); }
#Code > * { flex-grow: 1; }